@charset "utf-8";

body {
  margin: 30px;
  padding: 20px;
  border: 1px solid #444;
  background-color: #333;
  border-radius: 20px;
  text-align: center;
  color: #777;
}
h1 {
  font-size: 38pt;
  color: #AAA;
}
h2 {
  font-weight: normal;
}

.center {
  display: inline-block;
  margin: 0 auto;
}
.playlist-dropper {
  margin-top: 20px;
  margin-bottom: 20px;
}
#playlist_drop {
  font-style: italic;
  width: 220px;
  height: 220px;
  background-color: #444;
  border: 5px solid #333;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #888;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  &.over {
    color: #CCC;
    background-color: #666;
    background: -webkit-radial-gradient(center, ellipse cover, #777 0%, #444 80%); 
  }
}

.logo-container {
  height: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main-line {
  text-align: center;
}

#album-art-container {
  width: 220px;
  height: 220px;
  background-color: #444;
  border: 2px solid #888;
  img {
    width: 100%;
  }
}
.before-drop {
  #album-art-container{
    display: none;
  }
  #tracks-container {
    display: none;
  }
}
.after-drop {
  .playlist-dropper {
    display: none;
  }
}
#tracks-container {
  text-align: left;
  border: 2px solid #222;
  height: 300px;
  overflow: auto;
  background-color: #444;
  padding: 10px;
}
