@charset "utf-8";

body {
  margin: 30px;
  padding: 20px;
  border: 1px solid #333;
  background-color: #222;
  border-radius: 20px;
  text-align: center;
  color: #777;
}
h1 {
  font-size: 38pt;
  color: #AAA;
}
h2 {
  font-weight: normal;
}

.center {
  display: inline-block;
  margin: 0 auto;
}
.playlist-dropper {
  margin-top: 20px;
  margin-bottom: 20px;
}
#playlist_drop {
  font-style: italic;
  width: 220px;
  height: 220px;
  background-color: #444;
  border: 5px solid #333;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #888;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  &.over {
    color: #CCC;
    background-color: #666;
    background: -webkit-radial-gradient(center, ellipse cover, #777 0%, #444 80%); 
  }
}
