@charset "utf-8";
@import url("sp://import/css/api.css");
@import url("sp://import/css/adam.scs");
@import url("sp://import/css/player.css");

html, body {
  color: #777;
  background-color: #333;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
h4 {
  color: #ccc;
  text-align: center;
}

.container-fluid {
  min-height: 100%;
  position: relative;
}

.header {
  text-align: center;
}
.footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 30px;
  padding-bottom: 10px;
}
.body {
  padding-bottom: 60px; /* height of footer */
}
h1 {
  font-size: 38pt;
  color: #AAA;
}
h2 {
  font-weight: normal;
}

.center {
  display: inline-block;
  margin: 0 auto;
}
.playlist-dropper {
}
#playlist_drop {
  h4 {
    margin-top: 110px;
  }
  font-style: italic;
  height: 240px;
  width: 240px;
  background-color: #444;
  border: 5px solid #333;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  color: #888;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin-left: auto;
  margin-right: auto;
  &.over {
    color: #CCC;
    background-color: #666;
    background: -webkit-radial-gradient(center, ellipse cover, #777 0%, #444 80%); 
  }
}

.logo-container {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  background-color: #222;
  height: 50px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main-line {
  text-align: center;
}

#album-art-container {
  width: 220px;
  height: 220px;
  background-color: #444;
  border: 2px solid #888;
  img {
    width: 100%;
  }
}
.before-drop {
  #album-art-container{
    display: none;
  }
}
#tracks-container {
}

#drop-another {
  margin-top: 20px;
}
.dial {
  color: red;
  z-index: 2000;
}
.setting {
  min-width: 300px;
}
.other-settings {
  width: 300px;
  margin: 0 auto;
  &.form-horizontal {
    .control-label {
      width: 100px;
    }
    .controls {
      margin-left: 120px;
    }
  }
}
.body {
  min-width: 600px;
}
.playing {
  .sidebar_setup {
    display: none;
  }
}
.before-drop, .after-drop {
  .sidebar_playing {
    display: none;
  }
}
.sidebar_playing {
  text-align: center;
}
