---
title: Shotify
---

<div class="before-drop main-container">
  <div class="row-fluid">
    <div class="span4">
      <div class="sidebar_setup">
        <div class="playlist-dropper">
          <div id="playlist_drop">
            <div id="drop_overlay"></div>
            <h4>Drop a playlist here</h4>
          </div>
        </div>
        <div class="playlist-info">
          <div id='mosaic'></div>
          <h4 id='current-playlist'></h4>
          <%= link_to "Play", '#', id: 'play-button', class: 'sp-button sp-primary' %>
        </div>
        <div class="setting">
          <div style="text-align:center;margin-top:30px">
            <label id="num_seconds_label" for="num_seconds">
              How long to play each track for?<br>(in seconds)
            </label>
            <input type="text" class="num_seconds knob" value="60" id="num_seconds"
            data-max="120" data-min="1"
            data-cursor="true" data-fgColor="#e5a355"/>
          </div>
        </div>
        <div class="other-settings form-horizontal">
          <br>
          <div class="control-group">
            <label class="control-label">Random order</label>
            <div class="controls">
              <div id='random-setting' class="btn-group setting-buttons">
                <a href="#" class="btn btn-mini" id="random-off">Off</a>
                <a href="#" class="btn btn-mini" id="random-on">On</a>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Interval</label>
            <div class="controls">
              <div id='interval-setting' class="btn-group setting-buttons">
                <a id="interval-first" href="#" class="btn btn-mini">First</a>
                <a id="interval-middle" href="#" class="btn btn-mini">Middle</a>
                <a id="interval-last" href="#" class="btn btn-mini">Last</a>
                <a id="interval-random" href="#" class="btn btn-mini">Random</a>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="sidebar_playing">
        <div id="album-art-container" class="center">
          <div class="thumbnail">
            <%= image_tag "music_shot.jpg", id: 'album-art' %>
          </div>
        </div>
        <h4 id="current-track"></h4>
        <div>
          <input class="dial" id="time-remaining" value='0' input="text" />
        </div>
        <%= link_to "Play Another List", '#', id: 'drop-another', class: 'btn btn-large btn-danger' %>
      </div>
    </div>
    <div class="span8">
      <div id='tracks-info'>
        <div class="row-fluid">
          <div class="span12">
            <div id="tracks-container">
              <div class="sp-list-headers" style="position: relative">
                <ol>
                  <div class="sp-list">
                    <a class="sp-item">
                      <span class="sp-track-field-star"></span>
                      <span class="sp-track-field-share"></span>
                      <span class="sp-track-field-name">Title</span>
                      <span class="sp-track-field-artist">Artist</span>
                      <span class="sp-track-field-duration">Time</span>
                      <span class="sp-track-field-album">Album</span>
                  </a></div>
                </ol>
              </div>
              <div id="playlist">
                <ol>
                  <div class="sp-list">
                    <div class="placeholder"></div>
                  </div>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
