---
title: Shotify
---

<div class="before-drop container">
  <div class="logo-container">
    <%= image_tag "logo_alternate.png" %>
  </div>
  <div class="center playlist-dropper">
    <div id="playlist_drop">
      <h4>Drop Playlist Here</h4>
    </div>
  </div>
  <div style="clear:both"></div>
  <div id='tracks-info'>
    <div class="row-fluid">
      <div class="span6">
        <div id="album-art-container" class="center">
          <div class="thumbnail">
            <%= image_tag "music_shot.jpg", id: 'album-art' %>
          </div>
        </div>
        <h4 class="main-line">
          <span id='current-playlist'></span>
          <%= link_to "Play", '#', id: 'play-button', class: 'btn btn-large btn-success', style: 'display: none' %>
        </h4>
        <h4 id="current-track">
        </h4>
        <div class="clear:both"></div>
        <input class="dial" id="time-remaining" value='0' input="text" />
      </div>
      <div class="span6">
        <div id="tracks-container">
        </div>
      </div>
    </div>
    <%= link_to "Play another list", '#', id: 'drop-another', class: 'btn btn-large btn-danger', style: 'display: none' %>
  </div>
</div>
