---
title: Shotify
---

<div class="before-drop container">
  <div class="logo-container">
    <%= link_to image_tag("logo_alternate.png"), "http://shotify.us" %>
  </div>
  <div class="center playlist-dropper">
    <div id="playlist_drop">
      <h4>Drop Playlist Here</h4>
    </div>
  </div>
  <div class="setting">
    <p>
      How long would you like to play each track for?<br>
      Use the click wheel to set the number of seconds
    </p>
    <input type="text" class="num_seconds" value="60" data-width="200" data-height="200"
           data-max="120" data-min="1"
           data-cursor="true" data-fgColor="#e5a355"/>
  </div>
  <div style="clear:both"></div>
  <div id='tracks-info'>
    <div class="row-fluid">
      <div class="span6">
        <div id="album-art-container" class="center">
          <div class="thumbnail">
            <%= image_tag "music_shot.jpg", id: 'album-art' %>
          </div>
        </div>
        <h4 class="main-line">
          <span id='current-playlist'></span>
          <%= link_to "Play", '#', id: 'play-button', class: 'btn btn-large btn-success', style: 'display: none' %>
        </h4>
        <h4 id="current-track">
        </h4>
        <div class="clear:both"></div>
        <input class="dial" id="time-remaining" value='0' input="text" />
      </div>
      <div class="span6">
        <div id="tracks-container">
        </div>
      </div>
    </div>
    <%= link_to "Play another list", '#', id: 'drop-another', class: 'btn btn-large btn-danger', style: 'display: none' %>
  </div>
</div>
