---
title: Shotify
---

<div class="welcome">
  <h1>Shotify</h1>
  <h2>Drop your playlist:</h2>

  <div class="center playlist-dropper">
    <div id="playlist_drop">
      <h4>Drop Playlist Here</h4>
    </div>
  </div>
</div><!-- .welcome -->
